h1{
    text-align: center;
    color: #fff;
}
h2{
    text-align: center;
    color: #fff;
}
img{
    align-content: center;
    filter: invert(100);
}
.paragraph{
    text-align: center;
    color: #fff;

}
body{
    background-color: black;


}
